/*FAVOURITES*/
.favourites{
    max-width: 2040px;
    display: flex;
    width: 100%;
    min-height: 768px;
    padding-left: 27px;
  }
  .favourites button{
    background-color: transparent;
    border: none;
  }
  .favourites__chevron{
    cursor: pointer;
    margin: -50px 40px;
    height: 550px;
  }
  .favourites__chevron svg{
    transform: scale(3.8);
    border-radius: 1px;
    color: var(--bronze-color);
  }
  .favourites__chevron svg:hover{
    background-color: #868282;
    color: #eeecee;
    opacity: .3;
  }
  .mealFavourites__title{
    font-size: 2rem;
    color: var(--bronze-color);
    margin-left: 310px;
    margin-top: 70px;
    width: 100%;
    padding-top: 30px;
  }
  
  .mealFavourites-main{
    height: 480px;
    overflow: hidden;
    padding: 12px 0;
    width: 1210px;
    
  }
  .mealFavourites-main__inner{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    height: 480px;
    padding: 0 6px;
  }
  @media only screen and (max-width: 1838px) {
    .favourites{
      padding-left: 0;
    }
    .mealFavourites__title{
      margin: 10px;
      text-align: center;
    }
    .favourites__img-container{
      display: none;
    }
    .mealFavourites-main {
      overflow: unset;
      width: 100%;
      height: 100%;
    }
    .mealFavourites-main__inner{
      flex-direction: row;
      height: 100%;
    }
  }
  @media only screen and (max-width: 635px){
    .mealFavourites__title{
      font-size: 1.5rem;
    }
    .mealFavourites-main{
      padding: 85px 0;
    }
  }